.login-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8fafc;
}

.login-form{
    background: #f8fafc;
    padding: 30px;
    width: 320px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.login-form h2{
    text-align: center;
    margin-bottom: 20px;
    color: #1e293b
}
.login-form h1{
    text-align: center;
    margin-bottom: 20px;
    color: #1e293b
}

.login-form label{
     margin: 10px 0 5px;
     color: #1e293b;
}

.login-form input{
    padding: 10px;
    width: 370px;
    border: 1px solid #ccc;
    border-radius: 50px;
    margin-bottom: 15px;
    background: #ffffff;
}

.login-form button{
    margin-top: 20px;
    width: 390px;
    padding: 10px;
    background: #4f46e5;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.login-form button:hover {
  background: #45a049;
}

.login-form p{
    text-align: center;
    margin-top: 10px;
    color: #1e293b;
}